{% extends 'base.html' %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
<h1>Привет, я автор</h1>
<p><i>
  Тут я размещу информацию о себе, используя свои умения верстать.
</i></p>
<p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Я Данил, живу в городе Новосибирск</li>
    <li class="list-group-item">Учусь в Новосибирском государственном техническом университете</li>
    <li class="list-group-item">Прохожу курс яндекс практикума</li>
    <li class="list-group-item"><a href="https://github.com/DanilVolodchenko" target="_blank">GitHub аккаунт</a></li>
    <li class="list-group-item"><a href="https://vk.com/id423880341" target="_blank">Аккаунт ВК</a></li>
  </ul>
</p>
<p>
</p>
{% endblock %}
