{% extends 'base.html' %}

{% block title %}Технологии{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1>Вот что я умею</h1>
        <p><i>
            Текст страницы "Технологии"
        </i></p>
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Python
                </li>
                <li class="list-group-item">
                    Django
                </li>
                <li class="list-group-item">
                    Numpy
                </li>
                <li class="list-group-item">
                    Matplotlib
                </li>
                <li class="list-group-item">
                    Turtle
                </li>
                <li class="list-group-item">
                    Компас 3D
                </li>
            </ul>
        </aside>
    </div>
{% endblock %}
