{% extends 'base.html' %}

{% block title %}

    {% if is_edit %}
        Редактирование комментария
    {% else %}
        Новый комментарий
    {% endif %}

{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    <div class="card-header">
                        {% if actions == 'edit' %}
                            Редактирование комментария
                        {% elif actions == 'delete' %}
                            Удаление комментария
                        {% else %}
                            Новый комментарий
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% if actions != 'delete' %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row my-3 p-3">
                                    {% for field in form %}
                                        <label for="id_text">
                                            {{ field.label }}
                                            <span class="required text-danger">*</span>
                                        </label>
                                        {{ field }}
                                        <small id="id_text-help" class="form-text text-muted">
                                            {{ field.help_text }}
                                        </small>
                                    {% endfor %}
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">
                                        {% if actions == 'edit' %}
                                            Сохранить
                                        {% elif actions != 'delete' %}
                                            Добавить
                                        {% endif %}
                                    </button>
                                </div>
                            </form>
                        {% else %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ comment }}
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">
                                        Удалить
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
